<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net452" />
  <package id="Dropbox.Api" version="3.6.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net452" />
  <package id="Nemiro.OAuth" version="1.12" targetFramework="net45" />
  <package id="Nemiro.OAuth.LoginForms" version="1.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
</packages>